@model BookHub.Models.FeaturedBookModel;

@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to BookHub!</h1>
        <form asp-action="Search" asp-controller="Home" method="get" class="mt-4">
              <div class="input-group mx-auto" style="max-width: 400px;">
                  <input type="text" name="query" class="form-control" placeholder="Search..." />
                      <div class="input-group-append">
                    <button type="submit" class="btn btn-primary">Search</button>
                </div>
            </div>
        </form>

    <div class="mt-4">
        <div class="row">
            @foreach (var book in Model.Book)
            {
                <div class="col-md-4 mb-3">
                    <div class="card">
                       <!-- <img src="@Model.ImageUrl" class="card-img-top" alt="Book Image" >-->
                        <div class="card-body">
                            <h5 class="card-title">@book.Name</h5>
                            @foreach (var author in book.Authors)
                            {
                                <p class="card-text">@author.Name</p>
                            }
                            <a href="@Url.Action("Detail", "Book", new { id = book.Id })" class="btn btn-primary">View Details</a>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>

    <p>
    </p>
</div>
