@{
    ViewData["Title"] = "List of registered publishers";
}
@model IEnumerable<BusinessLayer.Models.PublisherDetail>
<p>penis</p>
@foreach (var pub in Model)
{
    <h1>Product Information</h1>

    <p>
        @pub.Name
    </p>

}



