@model BusinessLayer.Models.GenreCreate

@{
    ViewData["Title"] = "Edit";
}

@using (Html.BeginForm("Edit", "Genre", FormMethod.Post))
{
    <div>
        @Html.LabelFor(model => model.Name)
        @Html.EditorFor(model => model.Name)
        @Html.ValidationMessageFor(model => model.Name)
        <button type="submit" class="btn btn-sm btn-success">Save</button>
    </div>
    
}