@using Microsoft.AspNetCore.Identity
@using Microsoft.AspNetCore.Mvc.TagHelpers
@using BookHub.Models
@inject SignInManager<User> SignInManager
@model System.Collections.Generic.IEnumerable<BusinessLayer.Models.AuthorDetail>
@{
    ViewData["Title"] = "Authors";
}

<h1>Authors</h1>
<form asp-action="Search" asp-controller="Author" method="get">
    <input type="text" name="query" placeholder="Search..."/>
    <button type="submit">Search</button>
</form>
<p>
</p>
@if (SignInManager.IsSignedIn(User) && User.IsInRole("Admin"))
{
    <p>
        @Html.ActionLink("Create Author", "Create", new { }, new { @class = "btn btn-sm btn-success" })
    </p>
}

<table class="table">
    <thead>
    <tr>
        <th>@Html.DisplayNameFor(model => model.Name)</th>
        <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model)
    {
        <tr>
            <td>@Html.DisplayFor(i => item.Name)</td>
            <td>
                @await Html.PartialAsync("TableButtons", new TableButton { Id = item.Id, ControllerName = "Author" })


            </td>
        </tr>
    }
    </tbody>
</table>