@page
@model WishListModel
@{
    ViewData["Title"] = "Wishlist";
    ViewData["ActivePage"] = ManageNavPages.Wishlist;
}

<h3>@ViewData["Title"]</h3>
<partial name="_StatusMessage" for="StatusMessage"/>
<div class="row">
    <div class="col-md-6">
            @foreach (var book in Model.Wishlist)
            {
                <a href="@Url.Action("Detail", "Book", new {id = book.Id})"><p>@book.Name</p></a>
            }
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial"/>
}