@model System.Collections.Generic.IEnumerable<BusinessLayer.Models.BookDetail>
@{
    ViewData["Title"] = "Books";
}

<h1>Books</h1>


<table class="table">
    <thead>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Authors)
        </th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @foreach (var author in item.Authors)
                {
                    @Html.DisplayFor(modelItem => author.Name)
                    @if (author.Equals(item.Authors.Last()))
                    {
                        continue;
                    }
                    @:,

                }
            </td>
        </tr>
    }
    </tbody>
</table>